<!-- chat.component.html -->
<div class="chat-container">
  <div class="messages" #history_container>
      @for (message of $messages(); track message.text) {
    <div
      [ngClass]="{ 'from-user': message.from === 'user', 'from-bot': message.from === 'ai' }"
      class="message"
    >
      {{ message.text }}
    </div>
      }

    @if ($loading()) {
      <div
        class="message form-bot"
      >
        <div class="loading">
          <span class="dot">•</span>
          <span class="dot">•</span>
          <span class="dot">•</span>
        </div>

      </div>
    }
  </div>

  <form (ngSubmit)="send()" class="input-area">
    <input
      type="text"
      [(ngModel)]="$currentText"
      name="chatInput"
      placeholder="Write a message..."
      required
      autocomplete="off"
      [disabled]="!llmInference"
    />
    <button type="submit">Send</button>
  </form>
</div>
